@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,700;1,400;1,700&family=Alegreya+Sans+SC:ital,wght@0,400;0,700;1,400;1,700&family=Alegreya+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Alegreya:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --bs-body-font-family: 'Alegreya', serif;
    --bs-link-color: white;
    --bs-link-hover-color: white;
}

h1,h2,h3,h4,h5 {
    font-family: 'Alegreya Sans SC', --bs-body-font-family;
    font-weight: normal;
    text-transform: lowercase;
    letter-spacing: 0.005rem;   
    color: rgb(130, 26, 26);
}

a { text-decoration: none; color: rgb(98, 21, 21);}
a:hover { text-decoration: underline; color: rgb(188, 40, 40); }

.grlog blockquote { font-style:normal; border: 0px ; font-size:1em;}

.grlog blockquote blockquote {   border-left: 2px solid #dddddd; }

.grlog .datestamp {	text-transform: lowercase;
	font-family: 'Alegreya SC'; }
	
.grlog img { margin-left: 12px; margin-bottom: 12px; margin-top:12px;}

.grlog p {padding-top:0.5em;}

.oldcons img { margin-left: 0px; margin-bottom: 24px; margin-top:12px;}

.oldcons p {padding-top:0.5em;}

.oldcons h3 {padding-top:0.2em;}

.logician {float: left; margin-right:16px;}

