{{ partial "headwithcard.html" . }}
{{ $baseurl := .Site.BaseURL }}
<body>
<div id="topbar">
<div class="wrapper">
	<header>
		<nav class="navbar">
			<ul>
				<li class="hd"><a href="{{ $baseurl }}"><b>consequently.org</b></a></li>
				<li><span><a href="{{ $baseurl }}/news">News</a></span></li>
				<li><a href="{{ $baseurl }}/writing">Writing</a></li>
				<li><a href="{{ $baseurl }}/presentation">Presentations</a></li>
				<li><a href="{{ $baseurl }}/class">Classes</a></li>
				<li><a href="#searchsite">Search</a></li>
				<li><a href="#about">About</a></li>
			</ul>
		</nav>
	</header>
</div>
</div>

<div class="wrapper">
<div class="units-row">		
<div class="unit-20">&nbsp;</div>
<div class="unit-60"><h2><a href="">{{ .Title }}</a></h2></div>
</div>
<div class="units-row">		
<div class="unit-20 dateblock">{{if not (isset .Params "grlog") }}<h4>{{ .Date.Format "January 2, 2006" }}</h4>{{ else }}&nbsp;{{ end }}</div>
<div class="unit-60">
{{ .Content }}

{{ partial "tweetlink.html" . }}

<hr>
{{ if .PrevInSection }}
<a href="{{.PrevInSection.Permalink}}"> &larr;&nbsp;{{.PrevInSection.Title}}</a> |
{{ end }}
<a href="{{ $baseurl }}/news/#{{ .Date.Format "2006" }}">News Archive</a>
{{ if .NextInSection }}
| <a href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}}&nbsp;&rarr;</a>
{{ end }}

</div>
	
</div>
</div>

<hr class="separator">

{{ partial "whatisthis.html" . }}

{{ partial "foot.html" . }}
</body>
</html>


