{{ define "main" }}
<div class="container"> 
    <div class="row">
        <div class="col text-start">
                <h1 class="text-primary pb-3">{{ .Page.Title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        <h2 class="text-primary text-center fs-5"><a href="{{.Permalink}}">{{ .Page.Date.Format "2 January 2006" }}</a></h2>
        </div>
        <div class="col-md-7">
            {{ .Content }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-7">
{{ if .PrevInSection }}
<span class="caps text-secondary">
<a href="{{.PrevInSection.Permalink}}"> &larr;&nbsp;Earlier</a> /
{{ end }}
<a href="{{ .Site.BaseURL }}/news">Archive</a>
{{ if .NextInSection }}
/ <a href="{{.NextInSection.Permalink}}">Later&nbsp;&rarr;</a>
{{ end }}
</span>
</div>
</div>
</div>
<hr class="border border-secondary">
{{ end }}







