<!DOCTYPE html>
<html>
<head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ .Title }}</title>
    <!-- CSS -->
	<link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/kube.css" />
	<link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/demo.css" />
 	<link href='http://fonts.googleapis.com/css?family=Alegreya:400italic,400,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
 	<link href='http://fonts.googleapis.com/css?family=Alegreya+SC:400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" href="{{ .Site. BaseUrl }}/apple-touch-icon.png">
 	<link rel="shortcut icon" href="{{ .Site. BaseUrl }}/favicon.ico" />
    <!-- RSS -->
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>