<div class="container-fluid bg-primary">
    <div class="row mb-4">
        <div class="col p-2">
        <ul class="nav justify-content-md-center caps fs-5">
            <li class="nav-item">
                <a class="nav-link link-light" href="/"><b>consequently.org</b></a>
            </li>
            <li class="nav-item link-light">
                <a class="nav-link link-light" href="/news/">news</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="/writing/">writing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="/presentation/">presentations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="/class/">classes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="#about">about</a>
            </li>
        </ul>
        </div>
    </div>
</div>   