<div class="wrapper" style="font-size: 0.9em; line-height: 1.05em;">
<div class="units-row units-padding">		
<div class="unit-40"><!--about-->
<h3><a id="about">about</a></h3>
<figure class="image-left">
<img class="avatar" src="{{ .Site.BaseURL }}/img/avatar2.jpg" height="120" width="120">
</figure>	
<p>I&rsquo;m <em>Greg Restall</em>, and this is my personal website. &para; I am the <a href="https://www.st-andrews.ac.uk/philosophy/news/title-114634-en.php">Shelby Cullom Davis Professor of Philosophy</a> at the <a href="https://www.st-andrews.ac.uk">University of St Andrews</a>. 
<!--&para; Start at the <a href="{{ .Site.BaseURL }}">home page of this site</a>&mdash;a compendium of recent additions around here&mdash;and go from there to learn more about who I am and what I do.-->
<!--&para; This is my personal site on the web. Nothing here is <em>in any way</em> endorsed by the University of Melbourne.</p>-->
</div><!--end about-->
<div class="unit-30"><!--contact-->
<h3>elsewhere</h3>
<ul class="compact fa-ul">
<li><i class="fa-li fa-solid fa-building-columns fa-fw" style="color:#b24;font-size:80%;padding-top:6px;"></i>Philosophy Department, The University of St Andrews</li>
<li><i class="fa-li fa-solid fa-envelope fa-fw" style="color:#b24;font-size:80%;padding-top:6px;"></i><a href="mailto:greg@consequently.org" rel="me">greg@consequently.org</a></li>
<li><i class="fa-li fa-brands fa-mastodon fa-fw" style="color:#b24;font-size:80%;padding-top:6px;"></i><a href="https://scholar.social/@consequently" rel="me">@consequently@scholar.social</a> on Mastodon.</li>
</ul>
</div><!--end contact-->
<div class="unit-30"><!--Subscribe-->
				<h3>subscribe</h3>
				<p>To receive updates from this site, you can
				subscribe to the <a href="{{ .Site.BaseURL }}/index.xml"><i class="fa-solid fa-rss-square" style="color:#b24;"></i>&nbsp;RSS feed</a> of all updates to the site in an RSS feed reader, or follow me on Mastodon at <a href="https://scholar.social/@consequently"><i class="fa-brands fa-mastodon" style="color:#b24;"></i>&nbsp;@consequently@scholar.social</a>, where I&rsquo;ll update you if anything is posted.</p>
				<h3>search</h3>
				<a id="searchsite">
					<form method="get" action="https://duckduckgo.com/">
				<input type="search" name="q" maxlength="255" placeholder="Search the site">
			<input type="hidden" name="sites" value="consequently.org"/>
			   <input type="hidden" name="ka" value="Alegreya"/>
			   <input type="hidden" name="k7" value="#faf8f8"/>
			   <input type="hidden" name="kj" value="#b33"/>
			   <input type="hidden" name="ky" value="#fafafa"/>
			   <input type="hidden" name="kx" value="b"/>
			   <input type="hidden" name="ko" value="-1"/>
			   <input type="hidden" name="k1" value="-1"/>
			   <input type="hidden" name="kt" value="Alegreya Sans"/>
			   <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" /></form></a>
			</div>
		</div>
	</div>
</div>