{{ define "main" }}
<div class="container"> 
    <div class="row">
        <div class="col">
            {{ .Content }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 px-5">
            <div class="row">
                <div class="col-sm-2 col-lg-2"></div>
                <div class="col-sm-10 col-lg-10"><h2 class="text-primary">News</h2></div>
            </div>
             {{ range first 7 (.Site.GetPage "section" "news").Pages }}
            <div class="row">
                <div class="col-sm-2 col-lg-2">
                    <h3 class="fs-5 text-end"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                    <h4 class="fs-6 text-end text-secondary">{{ .Date.Format "2 January 2006" }}</h4>
                </div>
                <div class="col-sm-10 col-lg-10">
                    {{- if .Truncated -}}
                    {{- .Summary | safeHTML -}}
                    <p class="text-end caps"><a href="{{ .RelPermalink }}">Read More&hellip;</a></p>
                    {{- else -}}
                    {{ .Content }}
                    {{- end -}}	
                </div>
            </div>
            <hr class="border border-secondary">
            {{ end }}
        </div>
        <div class="col-lg-4">
            <h2 class="text-primary"><a href="writing">Recent Writing</a></h2>
            <dl class="row">
            {{ range first 7 (.Site.GetPage "section" "writing").Pages }}
            <dt class="col-1">
                {{- if eq .Params.type "unpublished" -}}
                <i class="text-primary bi bi-tools"></i>
                {{- else if eq .Params.kind "book" -}}
                <i class="text-primary bi bi-book text-end"></i>
                {{- else -}}
                <i class="text-primary bi bi-file-earmark-text"></i>
                {{- end -}}
            </dt>
            <dd class="col-11">{{ .Params.citation | safeHTML }}
                <a href="{{ .Permalink }}" class="badge border rounded-pill text-secondary bg-light caps fw-normal">Abstract</a>
                {{ if isset .Params "file" }}<a class="badge rounded-pill border bg-light text-secondary caps fw-normal" href="{{ .Site.BaseURL }}papers/{{ .Params.file }}">PDF</a>{{ end }}</dd>
            {{ end }}
            </dl>

            <hr class="border border-secondary">

            <h2 class="text-primary"><a href="presentation">Recent Presentations</a></h2>
            <dl class="row">
                {{- range first 7 (.Site.GetPage "section" "presentation").Pages -}}
                <dt class="col-1"><i class="text-primary bi bi-chat text-end"></i></dt> 
                <dd class="col-11">
                <a href="{{ .Permalink }}">{{ .Params.title | safeHTML }}</a>, {{ .Params.host | safeHTML }}; {{ .Params.date.Format "2 January 2006" }}. {{ partial "comingup.html" . }}
                </dd>
                {{- end -}}
            </dl>

            <hr class="border border-secondary">

            <h2 class="text-primary"><a href="class">Recent Classes</a></h2>

            <dl class="row">
                {{ range first 7 (.Site.GetPage "section" "class").Pages }}
                <dt class="col-1"><i class="text-primary bi bi-people text-end"></i></dt> 
                <dd class="col-11">
                <a href="{{ .Permalink }}" class="caps">{{ .Params.title | safeHTML  }}</a>, {{ .Params.host }}; {{ .Params.date.Format "January 2006" }}.  {{ partial "comingup.html" . }}
                </dd>
                {{ end }}
            </dl>
            <hr class="border border-secondary"> 
            </div>
    </div>
</div>
{{ end }}