{{ define "main" }}
<main>
<div class="container"> 
    <div class="row">
        <div class="col">
        <h1 class="text-primary mt-5 pb-3">Presentation Archive</h1>
        {{ .Content }}
        </div>
    </div>
{{ range .Data.Pages.GroupByDate "2006" }}
    <div class="row">
        <div class="col-md-1">
        <h2 class="text-primary text-center fs-4"><a id="{{ .Key }}">{{ .Key }}</a></h2>
        </div>
        <div class="col-md-8">
          {{ range .Pages }}
          <p><i class="text-primary bi bi-chat text-end"></i>&nbsp;&nbsp;<time><span class="caps">{{ .Date.Format "January 2" }}</span></time>, <a href="{{ .Permalink }}">{{ .Title | safeHTML }}</a>. {{ .Params.host | safeHTML }}. {{ partial "comingup.html" . }}</p>
        {{ end }}
        </div>
    </div>
          {{ end }}
        </div>
        </div>
</div>
</main>

<hr class="border border-secondary">

{{ end }}
