{{ define "main" }}
<main>
<div class="container"> 
    <div class="row">
        <div class="col">
        <h1 class="text-primary mt-5 pb-3">Writing Archive</h1>
        {{ .Content }}
        </div>
    </div>
<div class="row">
<div class="col-sm-3 pr-3">
<h2 class="text-primary pb-3">Books</h2>
{{ range where (where .Pages "Params.kind" "book") "Params.type" "published" }}
 <a href="{{ .Permalink }}"><img src="{{ .Permalink }}/cover.png" class="img-thumbnail mb-3 coverimage" alt="{{ .Title }}"></a>
 {{ end }}
</div>
<div class="col-sm-9">
<h2 class="text-primary pb-3">Unpublished and Work in Progress</h2>
{{ range where .Pages "Params.type" "unpublished" }}
<p>
{{ .Params.citation | safeHTML }}
<a href="{{ .Permalink }}" class="badge border rounded-pill text-secondary bg-light caps fw-normal">Abstract</a>
                {{ if isset .Params "file" }}<a class="badge rounded-pill border bg-light text-secondary caps fw-normal" href="{{ .Site.BaseURL }}papers/{{ .Params.file }}">PDF</a>{{ end }}
</p>
{{ end }}
<h2 class="text-primary py-3">Everything Published</h2>
{{ range (where .Pages "Params.type" "published").GroupByDate "2006" }}
    <div class="row">
        <div class="col-md-1">
        <h3 class="text-primary text-center fs-4"><a id="{{ .Key }}">{{ .Key }}</a></h2>
        </div>
        <div class="col-md-11">
          {{ range .Pages }}
              <p>{{ .Params.citation | safeHTML }}
                <a href="{{ .Permalink }}" class="badge border rounded-pill text-secondary bg-light caps fw-normal">Abstract</a>
                {{ if isset .Params "file" }}<a class="badge rounded-pill border bg-light text-secondary caps fw-normal" href="{{ .Site.BaseURL }}papers/{{ .Params.file }}">PDF</a>{{ end }}
              </p>
        {{ end }}
        </div>
    </div>
{{ end }}
</div>
</div>
</div>
</main>

<hr class="border border-secondary">

{{ end }}